// Dark Mode
$dark-color: rgb(249, 250, 251);
$dark-color-inactive: rgba(113, 119, 144, 78%);
$dark-background-color: rgba(16, 18, 27, 40%);
$dark-section-bg: rgba(146, 151, 179, 13%);
$dark-border-color: rgba(113, 119, 114, 25%);
$dark-dropdown-bg: rgb(33, 36, 45);
$dark-menu-hover-bg: rgba(12, 15, 25, 40%);
$dark-scrollbar-bg: rgba(1, 2, 3, 40%);

// Light Mode
$light-color: rgb(16, 15, 15);
$light-color-inactive: rgb(51, 51, 51);
$light-background-color: rgba(255, 255, 255, 31%);
$light-section-bg: rgba(255, 255, 255, 31%);
$light-border-color: rgba(255, 255, 255, 35%);
$light-dropdown-bg: rgb(247, 247, 247);
$light-menu-hover-bg: rgba(255, 255, 255, 35%);
$light-scrollbar-bg: rgba(255, 253, 253, 57%);

// Controls
$control-exit-color: OrangeRed;
$control-contract-color: Orange;
$control-expand-color: LimeGreen;
