@import './mixins';
@import './fonts';

* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: none;
}

body {
  margin: 0;
  font-family: 'Pretendard', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem 0;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}
